.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

.image {
  background: url('./img/intro-carousel/help1.jpg');
 background-color: rgba(97, 238, 144, 0.527);
  background-size: 100%;
 height:500px;
 z-index: -1;
 position : relative ;

 left:0;
 right:0;
}
.site_title{
  position : absolute ;
  top :50% ;
  right :15% ;
  left:15% ;
  -webkit-transform: translateY(-50%) ;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.site_title h1 {

  font-size: 60px;
  color :#fcfcfc ;
  text-align: center;
  margin: 0;
}
.site_title p {
  font-size: 20px;
  color : #fcfcfc ;
 text-align: center;
 margin:0 ;
 letter-spacing: 6px;
 margin-top: 10px;
}
.overlay{
  background: rgba(47, 180, 98, 0.822);
   position: absolute;
   top:0;
   left:0;
   z-index:1 ;
   width: 100%;
   height: 100%;
}